.red{
    background: red;
}
tfoot tr{
    text-align: center;
}
table>tfoot>tr>td{
    vertical-align: middle;
    text-align: right;
}
.table>tbody>tr>td, .table>thead:first-child>tr:first-child>th{
    text-align: center;
}
.pager>li{
    cursor: pointer;
}