<div class="app-header">
  <div class="row">
    <div class="app-stats-header col-md-10 col-md-offset-1 clearfix">
      <button class="btn pull-left col-md-2" (click)="previousYear()">
        <span class="ion-arrow-left-a"></span>
      </button>
      <h3 class="col-md-2 col-md-offset-3 pull-left" [innerHTML]="statsDate.year"></h3>
      <button class="btn pull-left col-md-offset-3 col-md-2" (click)="nextYear()">
        <span class="ion-arrow-right-a"></span>
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let rowData of monthlyStats" class="col-md-4 np-monthly-stats">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{ rowData.month }}
            <mat-card-subtitle>
              Sales profit: 
              <b>{{ rowData.profitLoss }}</b>
            </mat-card-subtitle>
          </mat-card-title>
          <br>
        </mat-card-header>
        <mat-card-content class="np-non-detailed">
          <mat-card-subtitle>
            <b>Total sales: </b>{{ rowData.sales }}</mat-card-subtitle>
          <mat-card-subtitle>
            <b>Total purchases: </b>{{ rowData.purchases }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>